<h1>Listing udays</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @udays.each do |uday| %>
      <tr>
        <td><%= uday.name %></td>
        <td><%= uday.rno %></td>
        <td><%= link_to 'Show', uday %></td>
        <td><%= link_to 'Edit', edit_uday_path(uday) %></td>
        <td><%= link_to 'Destroy', uday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uday', new_uday_path %>
