<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uday.name %>
</p>

<p>
  <strong>Rno:</strong>
  <%= @uday.rno %>
</p>

<%= link_to 'Edit', edit_uday_path(@uday) %> |
<%= link_to 'Back', udays_path %>



its nice to get edit the requests
